<app-loading *ngIf="loading">
</app-loading>
<div *ngIf="!loading" class="jumbotron">

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, possimus dignissimos facilis doloremque quis at error modi delectus rerum accusantium. Tempore a sit reiciendis mollitia illo fuga quod voluptatibus sapiente quasi rerum. Accusantium debitis
        illum iste accusamus mollitia eos maiores non, magnam commodi qui beatae totam facilis ullam perferendis! Nostrum nulla similique possimus repellat magni esse nobis fuga est sed eveniet. Ipsum explicabo dolorum aut totam delectus laudantium dolore
        nam quia dolores, nihil doloremque dignissimos fugit harum similique eligendi tenetur recusandae ducimus facere officiis perspiciatis minima. Commodi optio quaerat dolore molestiae! Nemo ea reprehenderit, impedit a minus distinctio deserunt in
        voluptatibus sed at quam eius iusto dolorem illum blanditiis quas aliquid numquam non vero. Cumque quibusdam fugiat sapiente inventore dicta alias in suscipit? Accusantium incidunt distinctio eveniet velit fugit amet et esse quisquam ducimus quae.
        Perferendis esse placeat doloribus commodi repellat tempore laborum veniam non. Consequuntur earum aperiam modi quidem at veniam quibusdam est delectus ex? Odit reiciendis a animi enim libero blanditiis corrupti fugit, accusantium incidunt repellat,
        impedit dicta repellendus eos explicabo delectus reprehenderit sed tenetur et exercitationem modi, nam saepe officiis sunt non! Aspernatur labore, at quos similique distinctio maiores eligendi optio fugit obcaecati deleniti porro explicabo eaque!
    </p>
</div>